/* App styling */

:root {
  --main-colour: #ffffff;
  --other-colour: #424242;
  --char-a-colour: #c73131;
  --char-b-colour: #30a320;
  --char-c-colour: #734824;
  --char-d-colour: #005d26;
  --char-e-colour: #7b0016;
  --char-f-colour: #533a4b;
  --transition-props: color, background-color, border-color;
  --transition-time: 3s;
}

body.winter {
  --main-colour: #1e1a42;
  --other-colour: #deebff;
}

body.spring {
  --main-colour: #2a562a;
  --other-colour: #ecfff4;
}

body.summer {
  --main-colour: #293b52;
  --other-colour: #fffdcc;
}

body.fall {
  --main-colour: #664249;
  --other-colour: #f7f0ed;
}

body {
  font-family: "Comic Sans", "Comic Sans MS", "Chalkboard",
    "ChalkboardSE-Regular", sans-serif;
  background-color: #dbe3ff;
  background-image: url("./snow3.gif");
  background-position: top;
  background-repeat: repeat;
  scrollbar-color: var(--main-colour) var(--other-colour);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-blend-mode: lighten;
}

#twodays-app {
  margin: auto;

  padding: 8px;
}

#fireplace {
  max-width: 100%;
  margin: auto;
  display: block;
}

header {
  text-align: center;
  margin-bottom: 0.5rem;
}

header img {
  margin: auto;
  display: block;
}

header aside {
  padding: 0 11px 0 22px;
}

.seasonal-hour {
  color: var(--main-colour);

  transition-property: var(--transition-props);
  transition-duration: var(--transition-time);
}

#panel {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  max-width: 30em;
  margin: auto;
  transition-property: var(--transition-props);
  transition-duration: var(--transition-time);
  border: 2px outset gray;
  padding: 0.5rem;
  background: color(srgb 0.778 0.778 0.778);
}

#help {
  padding-top: 16px;
  padding-left: 8px;
  color: var(--main-colour);

  transition-property: var(--transition-props);
  transition-duration: var(--transition-time);
}

#help summary {
  text-align: center;
}
#help ul {
  list-style-type: none;
}

#log-button {
  margin: 0.5rem 0 0 0;
}

#author-messages {
  max-height: 46ex;
  overflow: auto;
  resize: vertical;
  transition-property: var(--transition-props);
  transition-duration: var(--transition-time);
  color: black;
  background: color(srgb 0.913 0.913 0.913);
  border: 2px inset gray;
  padding: 0.25rem;
  margin: 0.5rem 0;
}

.author-action,
.describe-action,
.author-speech {
  margin: 0 0 0.5em 0;
}

.describe-action {
  text-align: center;
  color: var(--main-colour);
  transition-property: var(--transition-props);
  transition-duration: var(--transition-time);
}

.author-a {
  color: var(--char-a-colour);
}

.author-b {
  color: var(--char-b-colour);
}

.author-c {
  color: var(--char-c-colour);
}

.author-d {
  color: var(--char-d-colour);
}

.author-e {
  color: var(--char-e-colour);
}

.author-f {
  color: var(--char-f-colour);
}

#posting-input {
  display: flex;
}

#posting-input input {
  flex: 1 0 auto;
  margin: 0;
  border: none;
  background-color: var(--main-colour);
  padding: 8px;
  font-size: inherit;
  font-family: inherit;
  color: var(--other-colour);
  border: 2px inset gray;
  transition-property: var(--transition-props);
  transition-duration: var(--transition-time);
}
#posting-input input::placeholder {
  transition-property: var(--transition-props);
  transition-duration: var(--transition-time);
}

#posting-input button {
  flex: 0 1 auto;
  margin: 0 0 0.125rem 0;

  font-weight: bold;
  font-size: 1em;
  font-family: "Comic Sans MS";
  padding: 0.5rem;
}

#connection-status {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "slot";
}

#connection-status details {
  grid-area: "slot";
}

#connection-status label {
  grid-area: "slot";
  text-align: right;
}

details {
  margin: 0.25rem 0;
}

details div {
  font-family: monospace;
  border: 2px inset gray;
  padding: 0.25rem;
  margin: 0.125rem 0 0 0;
  background: black;
  color: limegreen;
}

details div ul {
  padding: 0 1.25rem;
  margin: 0;
}

.highlight-secret {
  color: color(srgb 0.373 0.373 0.373);
  background: color(srgb 0.373 0.373 0.373);
}

.highlight-secret::selection {
  color: white;
  background: black;
}

dl {
  margin: 0 0 1rem 0;
}

dd {
  word-wrap: break-word;
}

button {
  font-family: "Comic Sans MS";
  display: block;
  font-size: 1em;
  border: 2px outset grey;
  appearance: none;
}

button:active {
  border: 2px inset grey;
}

fieldset label {
  display: block;
  margin-bottom: 0.5rem;
  color: color(srgb 0.278 0.278 0.278);
}

fieldset label input {
  display: block;
  margin-left: 1rem;
  font-family: "Comic Sans MS";
  font-size: 1em;
  min-width: 20rem;
}

footer {
  color: white;
  text-shadow: 2px 2px 0 black;
  text-align: center;
  font-size: 2em;
}
