/* App styling */

:root {
  --main-colour: #664249;
  --other-colour: #f7f0ed;
  --char-a-colour: #770000;
  --char-b-colour: #c87425;
  --char-c-colour: #138a14;
  --char-d-colour: #114c8a;
  --char-e-colour: #4d00aa;
  --char-f-colour: #880060;
}

body {
  font-family: "Georgia";
  background-color: var(--other-colour);
  background-image: url("./bg.png");
  background-size: cover;
  background-position: center;

  scrollbar-color: var(--main-colour) var(--other-colour);

  min-height: 95vh;
}

#twodays-app {
  margin: auto;
  max-width: 30em;
  padding: 8px;
}

header {
  margin: 1.5em 0;
  display: flex;
  align-items: center;
}

header img {
  width: 179.5px;
  margin: auto;
  display: block;
}

header aside {
  padding: 0 11px 0 22px;
}

.seasonal-hour {
  color: var(--char-a-colour);
}

#panel {
  background-color: var(--other-colour);
  border: 3px solid var(--main-colour);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

#help {
  padding-top: 16px;
  padding-left: 8px;
  color: var(--main-colour);
}

#help summary {
  text-align: center;
}
#help ul {
  list-style-type: none;
}

#preamble {
  padding: 8px 0 0 0;
}

#preamble em {
  color: var(--main-colour);
  display: block;
  padding: 0 8px;
}

#preamble hr {
  border: 1px solid var(--main-colour);
  margin: 8px 0 2px 0;
}

#author-messages {
  height: 46ex;
  overflow: auto;
  padding: 8px;
  background: var(--other-colour);
  resize: vertical;
}

.author-action,
.describe-action,
.author-speech {
  margin: 0 0 0.5em 0;
}

.describe-action {
  text-align: center;
  color: var(--main-colour);
}

.author-a {
  color: var(--char-a-colour);
}

.author-b {
  color: var(--char-b-colour);
}

.author-c {
  color: var(--char-c-colour);
}

.author-d {
  color: var(--char-d-colour);
}

.author-e {
  color: var(--char-e-colour);
}

.author-f {
  color: var(--char-f-colour);
}

#posting-input {
  display: flex;
}

#posting-input input {
  flex: 1 0 auto;
  margin: 0;
  border: none;
  border-top: 3px solid var(--main-colour);
  background-color: var(--other-colour);
  padding: 8px;
  font-size: inherit;
  font-family: inherit;
}
#posting-input input::placeholder {
  color: var(--main-colour);
}

#posting-input button {
  flex: 0 1 auto;
  margin: 0;
  background: var(--main-colour);
  border: none;
  color: white;
  font-weight: bold;
  font-size: 1em;
  font-family: "Georgia";
  padding: 8px;
}

/* Earthbar styling */

[data-react-earthstar-earthbar] {
  max-width: 30em;
  margin: auto;
  padding: 11px;
  border-bottom: 3px solid var(--main-colour);
  position: relative;
}

[data-react-earthstar-earthbar] h2 {
  margin: 0.3em 0 0.5em 0;
}

[data-react-earthstar-earthbar] a {
  color: var(--char-b-colour);
}

[data-react-earthstar-earthbar-tabs] {
  align-items: baseline;
}

[data-react-earthstar-earthbar-tab-label] {
  font-family: Georgia;
  font-size: 14px;
  font-weight: bold;
  color: var(--main-colour);
  border: none;
  background: none;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  margin: 0 1px;
  display: inline-block;
}

[data-react-earthstar-earthbar-panel][role="tabpanel"] {
  position: absolute;
  margin-top: 8px;
  border: 3px solid var(--main-colour);
  background: var(--main-colour);
  color: var(--other-colour);
  padding: 8px;
  border-radius: 10px;
  left: 0;
  right: 0;
  box-shadow: 2px 2px 10px 5px rgba(0, 0, 0, 0.2);
  z-index: 10
}

[data-react-earthstar-button] {
  font-family: Georgia;
  font-size: 14px;
  padding: 6px;
  background: var(--char-b-colour);
  color: var(--other-colour);
  font-weight: bold;
  border-radius: 10px;
  border: none;
}

[data-react-earthstar-input] {
  font-family: Georgia;
  font-size: 14px;
  background: var(--main-colour);
  color: var(--other-colour);
  border: 1px solid var(--other-colour);
  padding: 4px;
}

[data-react-earthstar-details] {
  margin: 1em 0;
}

[data-react-earthstar-summary] {
  font-size: 1.2em;
  margin: 0 0 0.5em 0;
}

#earthbar-display-name {
  font-size: 0.8em;
  align-self: baseline;
}
