/* App styling */

:root {
  --main-colour: #664249;
  --other-colour: #f7f0ed;
  --char-a-colour: #770000;
  --char-b-colour: #c87425;
  --char-c-colour: #138a14;
  --char-d-colour: #114c8a;
  --char-e-colour: #4d00aa;
  --char-f-colour: #880060;
  --transition-props: color, background-color, border-color;
  --transition-time: 3s;
}

body.winter {
  --main-colour: #1e1a42;
  --other-colour: #deebff;
}

body.spring {
  --main-colour: #2a562a;
  --other-colour: #ecfff4;
}

body.summer {
  --main-colour: #293b52;
  --other-colour: #fffdcc;
}

body.fall {
  --main-colour: #664249;
  --other-colour: #f7f0ed;
}

body {
  font-family: "Georgia";
  background-color: var(--other-colour);
  background-image: url("./bg.png");
  background-size: cover;
  background-position: center;

  scrollbar-color: var(--main-colour) var(--other-colour);

  min-height: 95vh;

  transition-property: var(--transition-props);
  transition-duration: var(--transition-time);
}

#twodays-app {
  margin: auto;
  max-width: 30em;
  padding: 8px;
}

header {
  margin: 1.5em 0;
  display: flex;
  align-items: center;
}

header img {
  width: 179.5px;
  margin: auto;
  display: block;
}

header aside {
  padding: 0 11px 0 22px;
}

.seasonal-hour {
  color: var(--main-colour);

  transition-property: var(--transition-props);
  transition-duration: var(--transition-time);
}

#panel {
  background-color: var(--other-colour);
  border: 3px solid var(--main-colour);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  transition-property: var(--transition-props);
  transition-duration: var(--transition-time);
}

#help {
  padding-top: 16px;
  padding-left: 8px;
  color: var(--main-colour);

  transition-property: var(--transition-props);
  transition-duration: var(--transition-time);
}

#help summary {
  text-align: center;
}
#help ul {
  list-style-type: none;
}

#preamble {
  padding: 8px 0 0 0;
}

#preamble em {
  color: var(--main-colour);
  display: block;
  padding: 0 8px;

  transition-property: var(--transition-props);
  transition-duration: var(--transition-time);
}

#preamble hr {
  border: 1px solid var(--main-colour);
  margin: 8px 0 2px 0;

  transition-property: var(--transition-props);
  transition-duration: var(--transition-time);
}

#author-messages {
  height: 46ex;
  overflow: auto;
  padding: 8px;
  background: var(--other-colour);
  resize: vertical;

  transition-property: var(--transition-props);
  transition-duration: var(--transition-time);
}

.author-action,
.describe-action,
.author-speech {
  margin: 0 0 0.5em 0;
}

.describe-action {
  text-align: center;
  color: var(--main-colour);

  transition-property: var(--transition-props);
  transition-duration: var(--transition-time);
}

.author-a {
  color: var(--char-a-colour);
}

.author-b {
  color: var(--char-b-colour);
}

.author-c {
  color: var(--char-c-colour);
}

.author-d {
  color: var(--char-d-colour);
}

.author-e {
  color: var(--char-e-colour);
}

.author-f {
  color: var(--char-f-colour);
}

#posting-input {
  display: flex;
}

#posting-input input {
  flex: 1 0 auto;
  margin: 0;
  border: none;
  border-top: 3px solid var(--main-colour);
  background-color: var(--other-colour);
  padding: 8px;
  font-size: inherit;
  font-family: inherit;

  transition-property: var(--transition-props);
  transition-duration: var(--transition-time);
}
#posting-input input::placeholder {
  color: var(--main-colour);

  transition-property: var(--transition-props);
  transition-duration: var(--transition-time);
}

#posting-input button {
  flex: 0 1 auto;
  margin: 0;
  background: var(--main-colour);
  border: none;
  color: white;
  font-weight: bold;
  font-size: 1em;
  font-family: "Georgia";
  padding: 8px;

  transition-property: var(--transition-props);
  transition-duration: var(--transition-time);
}

/* Earthbar styling */

[data-re-earthbar] {
  max-width: 30em;
  margin: auto;
  padding: 11px 0;
  position: relative;
  transition-property: var(--transition-props);
  transition-duration: var(--transition-time);
}

[data-re-earthbar-panel][role="tabpanel"] {
  position: absolute;
  z-index: 10;
  transition-property: var(--transition-props);
  transition-duration: var(--transition-time);
}

#earthbar-display-name {
  font-size: 0.8em;
  align-self: center;
}
